<?xml version="1.0"?>
<!-- vim: set fenc=utf-8 et sts=4 ft=xml : -->
<launch>
    <arg name="bag"/>

    <param name="use_sim_time" value="True" type="bool"/>

    <include file="$(find scavislam_ros)/launch/stereopair.launch">
        <arg name="position" value="port"/>>
    </include>

    <include file="$(find scavislam_ros)/launch/stereopair.launch">
        <arg name="position" value="center"/>>
    </include>

    <include file="$(find scavislam_ros)/launch/stereopair.launch">
        <arg name="position" value="starboard"/>>
    </include>

    <node
        pkg="costmap_2d"
        type="costmap_2d_node"
        name="local_mapper"
        output="screen"
        ns="/cameras/navigation">
        <rosparam file="$(find scavislam_ros)/config/costmap_params.yaml" ns="costmap" command="load"/>
    </node>

    <node
        pkg="costmap_2d"
        type="costmap_2d_cloud"
        name="voxel2cloud"
        output="screen"
        ns="/cameras/navigation">
        <remap from="voxel_grid" to="local_mapper/costmap/obstacle_layer/voxel_grid"/>
    </node>

    <node
        pkg="rosbag"
        type="play"
        name="replay"
        args="$(arg bag) -r 0.25 --clock --pause
        --topics tf
                 /cameras/navigation/port/left/camera_info 
                 /cameras/navigation/port/left/image_raw 
                 /cameras/navigation/port/right/camera_info 
                 /cameras/navigation/port/right/image_raw 
                 /cameras/navigation/center/left/camera_info
                 /cameras/navigation/center/left/image_raw 
                 /cameras/navigation/center/right/camera_info 
                 /cameras/navigation/center/right/image_raw 
                 /cameras/navigation/starboard/left/camera_info
                 /cameras/navigation/starboard/left/image_raw 
                 /cameras/navigation/starboard/right/camera_info 
                 /cameras/navigation/starboard/right/image_raw 
                 /motion/odometry
                 "
        output="screen"
        >
        <remap from="/motion/odometry" to="wheel_odometry"/>
    </node>
</launch>
